<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%=render 'layouts/head'%>
  <%= render 'layouts/shim' %>
</head>
<%=render 'layouts/header'%>
  <body>
    <div class="container">
    <%= yield %>
  </div>
  <%=render 'layouts/footer'%>
  </body>
</html>
